*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: url(./img/design1_image1.jpg) center;
    background-size: 100vw;
    
    height: 45vh;
    font-size: 3vw;
    object-fit: contain;
}

.pieHeader{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
.logo{
    position: absolute;
    top: 35vh;
    left: 80vw;
}

main {
    display: inline-block;
    
}

nav a{
    display: block;
    margin: 5vh;
}

nav{
    display: inline-block;
   
}

article{
    display: inline-block;
}
p{
    display: inline-block;
}

section{
    display: block;
    width: 60%;
    height: 40%;
}
.section{
    position: absolute;
    top: 50%;
    left: 20%;
}